#osmp_map{
  height:300px;
  padding:0px;
}

#map_address_input{
}

#map_address_display{
  vertical-align:middle;
  padding:0px;
  width:100%;
  margin: 0 3px 0 3px;
  background-color:#eaeaea;
}

#map_address_display_text{
  text-align:left;
  padding:5px;
  font-weight: bold;
  font-style: normal;
  color: #484848;
}

#location_bounds_alert{
    opacity: 0;
    background-color:#FFCDD2;
}

#address_input_container{
    width:100%;
    display:table;
    padding:0px;
    margin:0px;
}

#address_input_right_div{
    display:table-cell;
    width:70%;
    vertical-align:top;
}

#address_input_left_div{
    vertical-align:top;
    width:30%;
    display:table-cell;
}
